.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 5vh;
  align-items: center;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
  margin: 0 1rem;
}
nav li a {
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-size: 0.7vw;
  font-weight: bold;
}
nav li a:hover {
  text-decoration: underline;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
sub {
  font-size: 0.5vw;
  color: black;
  font-weight: bold;
}

.logoName {
  color: white;
  font-size: 1vw;
  font-weight: bold;
}
.bi {
  display: none;
}

/*-------------- footer-----------------------*/
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
footer h3,
footer a {
  font-size: 0.5rem;
  color: gray;
}
footer div {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}
footer div a {
  margin: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    background-color: #0c0c0c;
    color: white !important;
    align-items: center;
  }
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .navi {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  nav.nav {
    display: none;
  }
  nav.show {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    justify-content: center;
  }
  nav li {
    margin: 1rem;
  }
  nav li a {
    font-size: 3vw;
    color: black;
    text-decoration: underline;
  }
  .bi {
    display: block;
    margin-right: 0.5rem;
  }
  .bi-x {
    color: black;
    font-size: 1.5rem;
  }
  .bi-list {
    color: black;
    font-size: 1.5rem;
  }
  .logoName {
    font-size: 3vw;
  }
  sub {
    font-size: 2vw;
  }
}
