.container1{
    background-image: url("/bg.jpeg");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-control{
   min-width: 200px;
   
}

span{
    cursor: pointer;
}
span:hover{
    color: gray;
    text-decoration: underline;
}
